<!DOCTYPE html>
<html>
<head>
  <title>ClonedStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link rel="stylesheet" href="./css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
